@import './color.less';

body { 
  --red-1: 255,241,240;
  --red-2: 255,204,199;
  --red-3: 255,163,158;
  --red-4: 255,120,117;
  --red-5: 255,77,79;
  --red-6: 245,34,45;
  --red-7: 207,19,34;
  --red-8: 168,7,26;
  --red-9: 130,0,20;
  --red-10: 92,0,17;
  --volcano-1: 255,242,232;
  --volcano-2: 255,216,191;
  --volcano-3: 255,187,150;
  --volcano-4: 255,156,110;
  --volcano-5: 255,122,69;
  --volcano-6: 250,84,28;
  --volcano-7: 212,56,13;
  --volcano-8: 173,33,2;
  --volcano-9: 135,20,0;
  --volcano-10: 97,11,0;
  --orange-1: 255,247,230;
  --orange-2: 255,231,186;
  --orange-3: 255,213,145;
  --orange-4: 255,192,105;
  --orange-5: 255,169,64;
  --orange-6: 250,140,22;
  --orange-7: 212,107,8;
  --orange-8: 173,78,0;
  --orange-9: 135,56,0;
  --orange-10: 97,37,0;
  --gold-1: 255,251,230;
  --gold-2: 255,241,184;
  --gold-3: 255,229,143;
  --gold-4: 255,214,102;
  --gold-5: 255,197,61;
  --gold-6: 250,173,20;
  --gold-7: 212,136,6;
  --gold-8: 173,104,0;
  --gold-9: 135,77,0;
  --gold-10: 97,52,0;
  --yellow-1: 254,255,230;
  --yellow-2: 255,255,184;
  --yellow-3: 255,251,143;
  --yellow-4: 255,245,102;
  --yellow-5: 255,236,61;
  --yellow-6: 250,219,20;
  --yellow-7: 212,177,6;
  --yellow-8: 173,139,0;
  --yellow-9: 135,104,0;
  --yellow-10: 97,71,0;
  --lime-1: 252,255,230;
  --lime-2: 244,255,184;
  --lime-3: 234,255,143;
  --lime-4: 211,242,97;
  --lime-5: 186,230,55;
  --lime-6: 160,217,17;
  --lime-7: 124,179,5;
  --lime-8: 91,140,0;
  --lime-9: 63,102,0;
  --lime-10: 37,64,0;
  --green-1: 246,255,237;
  --green-2: 217,247,190;
  --green-3: 183,235,143;
  --green-4: 149,222,100;
  --green-5: 115,209,61;
  --green-6: 82,196,26;
  --green-7: 56,158,13;
  --green-8: 35,120,4;
  --green-9: 19,82,0;
  --green-10: 9,43,0;
  --cyan-1: 230,255,251;
  --cyan-2: 181,245,236;
  --cyan-3: 135,232,222;
  --cyan-4: 92,219,211;
  --cyan-5: 54,207,201;
  --cyan-6: 19,194,194;
  --cyan-7: 8,151,156;
  --cyan-8: 0,109,117;
  --cyan-9: 0,71,79;
  --cyan-10: 0,35,41;
  --blue-1: 230,244,255;
  --blue-2: 186,224,255;
  --blue-3: 145,202,255;
  --blue-4: 105,177,255;
  --blue-5: 64,150,255;
  --blue-6: 22,119,255;
  --blue-7: 9,88,217;
  --blue-8: 0,62,179;
  --blue-9: 0,44,140;
  --blue-10: 0,29,102;
  --geekblue-1: 240,245,255;
  --geekblue-2: 214,228,255;
  --geekblue-3: 173,198,255;
  --geekblue-4: 133,165,255;
  --geekblue-5: 89,126,247;
  --geekblue-6: 47,84,235;
  --geekblue-7: 29,57,196;
  --geekblue-8: 16,35,158;
  --geekblue-9: 6,17,120;
  --geekblue-10: 3,8,82;
  --purple-1: 249,240,255;
  --purple-2: 239,219,255;
  --purple-3: 211,173,247;
  --purple-4: 179,127,235;
  --purple-5: 146,84,222;
  --purple-6: 114,46,209;
  --purple-7: 83,29,171;
  --purple-8: 57,16,133;
  --purple-9: 34,7,94;
  --purple-10: 18,3,56;
  --magenta-1: 255,240,246;
  --magenta-2: 255,214,231;
  --magenta-3: 255,173,210;
  --magenta-4: 255,133,192;
  --magenta-5: 247,89,171;
  --magenta-6: 235,47,150;
  --magenta-7: 196,29,127;
  --magenta-8: 158,16,104;
  --magenta-9: 120,6,80;
  --magenta-10: 82,3,57;
  --grey-1: 166,166,166;
  --grey-2: 153,153,153;
  --grey-3: 140,140,140;
  --grey-4: 128,128,128;
  --grey-5: 115,115,115;
  --grey-6: 102,102,102;
  --grey-7: 64,64,64;
  --grey-8: 26,26,26;
  --grey-9: 0,0,0;
  --grey-10: 0,0,0;
  --primary-1: var(~'@primary-1');
  --primary-2: var(~'@primary-2');
  --primary-3: var(~'@primary-3');
  --primary-4: var(~'@primary-4');
  --primary-5: var(~'@primary-5');
  --primary-6: var(~'@primary-6');
  --primary-7: var(~'@primary-7');
  --primary-8: var(~'@primary-8');
  --primary-9: var(~'@primary-9');
  --primary-10: var(~'@primary-10');
  --success-1: var(~'@success-1');
  --success-2: var(~'@success-2');
  --success-3: var(~'@success-3');
  --success-4: var(~'@success-4');
  --success-5: var(~'@success-5');
  --success-6: var(~'@success-6');
  --success-7: var(~'@success-7');
  --success-8: var(~'@success-8');
  --success-9: var(~'@success-9');
  --success-10: var(~'@success-10');
  --danger-1: var(~'@danger-1');
  --danger-2: var(~'@danger-2');
  --danger-3: var(~'@danger-3');
  --danger-4: var(~'@danger-4');
  --danger-5: var(~'@danger-5');
  --danger-6: var(~'@danger-6');
  --danger-7: var(~'@danger-7');
  --danger-8: var(~'@danger-8');
  --danger-9: var(~'@danger-9');
  --danger-10: var(~'@danger-10');
  --warning-1: var(~'@warning-1');
  --warning-2: var(~'@warning-2');
  --warning-3: var(~'@warning-3');
  --warning-4: var(~'@warning-4');
  --warning-5: var(~'@warning-5');
  --warning-6: var(~'@warning-6');
  --warning-7: var(~'@warning-7');
  --warning-8: var(~'@warning-8');
  --warning-9: var(~'@warning-9');
  --warning-10: var(~'@warning-10');
  --link-1: var(~'@link-1');
  --link-2: var(~'@link-2');
  --link-3: var(~'@link-3');
  --link-4: var(~'@link-4');
  --link-5: var(~'@link-5');
  --link-6: var(~'@link-6');
  --link-7: var(~'@link-7');
  --link-8: var(~'@link-8');
  --link-9: var(~'@link-9');
  --link-10: var(~'@link-10');
}

body[twist-theme='dark'] { 
  --red-1: 42,18,21;
  --red-2: 67,20,24;
  --red-3: 88,24,28;
  --red-4: 121,26,31;
  --red-5: 166,29,36;
  --red-6: 211,32,41;
  --red-7: 232,71,73;
  --red-8: 243,115,112;
  --red-9: 248,159,154;
  --red-10: 250,200,195;
  --volcano-1: 43,22,17;
  --volcano-2: 68,29,18;
  --volcano-3: 89,39,22;
  --volcano-4: 124,49,24;
  --volcano-5: 170,62,25;
  --volcano-6: 216,74,27;
  --volcano-7: 232,112,64;
  --volcano-8: 243,149,106;
  --volcano-9: 248,182,146;
  --volcano-10: 250,212,188;
  --orange-1: 43,29,17;
  --orange-2: 68,42,17;
  --orange-3: 89,56,21;
  --orange-4: 124,74,21;
  --orange-5: 170,98,21;
  --orange-6: 216,122,22;
  --orange-7: 232,154,60;
  --orange-8: 243,183,101;
  --orange-9: 248,207,141;
  --orange-10: 250,227,183;
  --gold-1: 43,33,17;
  --gold-2: 68,49,17;
  --gold-3: 89,66,20;
  --gold-4: 124,89,20;
  --gold-5: 170,119,20;
  --gold-6: 216,150,20;
  --gold-7: 232,179,57;
  --gold-8: 243,204,98;
  --gold-9: 248,223,139;
  --gold-10: 250,237,181;
  --yellow-1: 43,38,17;
  --yellow-2: 68,59,17;
  --yellow-3: 89,80,20;
  --yellow-4: 124,110,20;
  --yellow-5: 170,149,20;
  --yellow-6: 216,189,20;
  --yellow-7: 232,214,57;
  --yellow-8: 243,234,98;
  --yellow-9: 248,244,139;
  --yellow-10: 250,250,181;
  --lime-1: 31,38,17;
  --lime-2: 46,60,16;
  --lime-3: 62,79,19;
  --lime-4: 83,109,19;
  --lime-5: 111,148,18;
  --lime-6: 139,187,17;
  --lime-7: 169,209,52;
  --lime-8: 201,231,93;
  --lime-9: 228,248,139;
  --lime-10: 240,250,181;
  --green-1: 22,35,18;
  --green-2: 29,55,18;
  --green-3: 39,73,22;
  --green-4: 48,99,23;
  --green-5: 60,134,24;
  --green-6: 73,170,25;
  --green-7: 106,190,57;
  --green-8: 143,212,96;
  --green-9: 178,229,139;
  --green-10: 213,242,187;
  --cyan-1: 17,33,35;
  --cyan-2: 17,53,54;
  --cyan-3: 20,72,72;
  --cyan-4: 20,98,98;
  --cyan-5: 19,133,133;
  --cyan-6: 19,168,168;
  --cyan-7: 51,188,183;
  --cyan-8: 88,209,201;
  --cyan-9: 132,226,216;
  --cyan-10: 178,241,232;
  --blue-1: 17,26,44;
  --blue-2: 17,37,69;
  --blue-3: 21,50,91;
  --blue-4: 21,65,126;
  --blue-5: 21,84,173;
  --blue-6: 22,104,220;
  --blue-7: 60,137,232;
  --blue-8: 101,169,243;
  --blue-9: 141,197,248;
  --blue-10: 183,220,250;
  --geekblue-1: 19,22,41;
  --geekblue-2: 22,29,64;
  --geekblue-3: 28,39,85;
  --geekblue-4: 32,49,117;
  --geekblue-5: 38,62,160;
  --geekblue-6: 43,74,203;
  --geekblue-7: 82,115,224;
  --geekblue-8: 127,158,243;
  --geekblue-9: 168,193,248;
  --geekblue-10: 210,224,250;
  --purple-1: 26,19,37;
  --purple-2: 36,22,58;
  --purple-3: 48,28,77;
  --purple-4: 62,32,105;
  --purple-5: 81,37,143;
  --purple-6: 100,42,181;
  --purple-7: 133,78,202;
  --purple-8: 171,122,224;
  --purple-9: 205,168,240;
  --purple-10: 235,215,250;
  --magenta-1: 41,19,33;
  --magenta-2: 64,22,47;
  --magenta-3: 85,28,59;
  --magenta-4: 117,32,79;
  --magenta-5: 160,38,105;
  --magenta-6: 203,43,131;
  --magenta-7: 224,82,156;
  --magenta-8: 243,127,183;
  --magenta-9: 248,168,204;
  --magenta-10: 250,210,227;
  --grey-1: 21,21,21;
  --grey-2: 31,31,31;
  --grey-3: 45,45,45;
  --grey-4: 57,57,57;
  --grey-5: 73,73,73;
  --grey-6: 90,90,90;
  --grey-7: 106,106,106;
  --grey-8: 123,123,123;
  --grey-9: 136,136,136;
  --grey-10: 150,150,150;
  --primary-1: var(~'@dark-primary-1');
  --primary-2: var(~'@dark-primary-2');
  --primary-3: var(~'@dark-primary-3');
  --primary-4: var(~'@dark-primary-4');
  --primary-5: var(~'@dark-primary-5');
  --primary-6: var(~'@dark-primary-6');
  --primary-7: var(~'@dark-primary-7');
  --primary-8: var(~'@dark-primary-8');
  --primary-9: var(~'@dark-primary-9');
  --primary-10: var(~'@dark-primary-10');
  --success-1: var(~'@dark-success-1');
  --success-2: var(~'@dark-success-2');
  --success-3: var(~'@dark-success-3');
  --success-4: var(~'@dark-success-4');
  --success-5: var(~'@dark-success-5');
  --success-6: var(~'@dark-success-6');
  --success-7: var(~'@dark-success-7');
  --success-8: var(~'@dark-success-8');
  --success-9: var(~'@dark-success-9');
  --success-10: var(~'@dark-success-10');
  --danger-1: var(~'@dark-danger-1');
  --danger-2: var(~'@dark-danger-2');
  --danger-3: var(~'@dark-danger-3');
  --danger-4: var(~'@dark-danger-4');
  --danger-5: var(~'@dark-danger-5');
  --danger-6: var(~'@dark-danger-6');
  --danger-7: var(~'@dark-danger-7');
  --danger-8: var(~'@dark-danger-8');
  --danger-9: var(~'@dark-danger-9');
  --danger-10: var(~'@dark-danger-10');
  --warning-1: var(~'@dark-warning-1');
  --warning-2: var(~'@dark-warning-2');
  --warning-3: var(~'@dark-warning-3');
  --warning-4: var(~'@dark-warning-4');
  --warning-5: var(~'@dark-warning-5');
  --warning-6: var(~'@dark-warning-6');
  --warning-7: var(~'@dark-warning-7');
  --warning-8: var(~'@dark-warning-8');
  --warning-9: var(~'@dark-warning-9');
  --warning-10: var(~'@dark-warning-10');
  --link-1: var(~'@dark-link-1');
  --link-2: var(~'@dark-link-2');
  --link-3: var(~'@dark-link-3');
  --link-4: var(~'@dark-link-4');
  --link-5: var(~'@dark-link-5');
  --link-6: var(~'@dark-link-6');
  --link-7: var(~'@dark-link-7');
  --link-8: var(~'@dark-link-8');
  --link-9: var(~'@dark-link-9');
  --link-10: var(~'@dark-link-10');
}